#row_container_CFG{
    margin-top: 10px;
}
/* 
.inline{
    display: inline-block;
} */

.header-with-button{
    /* float:right; */
}

/* .definition_div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

} */
#row-container-form{
    /* padding-bottom: 1px; */
}