#nav-header{
    font-weight: bold !important;
    color:#FFD700 !important;
    border-bottom-style: solid;
    border-width: 5px;

}
.nav-dropdown-text{
    /* color:#FFD700; */

    /* font-weight: bold;
    text-emphasis: bold; */
}

/* ID for logo text */
/* #logo_text{

} */


.dropdown-nav-item{
    color:red !important;
}
nav-link{
    color:red;
}