#nav-header{
    font-weight: bold !important;
    /* color:#FFD700 !important; */
    border-bottom-style: solid;
    border-width: 5px;
    color: #e25b4b  !important;
    background-color: #ecfdff !important;

}
.nav-dropdown-text{
    /* color:#FFD700; */

    /* font-weight: bold;
    text-emphasis: bold; */
}

/* ID for logo text */
/* #logo_text{

} */

a.nav-link{
<<<<<<< HEAD
    color: #e25b4b !important;
=======
    color:yellow !important;
>>>>>>> css and depreciated code removal
}